USE [master]
GO
/****** Object:  Database [CodeReviewDB]    Script Date: 09.03.2026 12:23:31 ******/
CREATE DATABASE [CodeReviewDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CodeReviewDB', FILENAME = N'E:\MS SQL\MSSQL17.SQLEXPRESS\MSSQL\DATA\CodeReviewDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CodeReviewDB_log', FILENAME = N'E:\MS SQL\MSSQL17.SQLEXPRESS\MSSQL\DATA\CodeReviewDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CodeReviewDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CodeReviewDB]
GO
/****** Object:  User [app_user]    Script Date: 09.03.2026 12:23:31 ******/
CREATE USER [app_user] FOR LOGIN [app_user] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [app_manager]    Script Date: 09.03.2026 12:23:31 ******/
CREATE USER [app_manager] FOR LOGIN [app_manager] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [app_admin]    Script Date: 09.03.2026 12:23:31 ******/
CREATE USER [app_admin] FOR LOGIN [app_admin] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [app_admin]
GO
/****** Object:  Table [dbo].[code_reviews]    Script Date: 09.03.2026 12:23:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[code_reviews](
	[review_id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](200) NOT NULL,
	[description] [nvarchar](max) NULL,
	[project_id] [int] NULL,
	[author_id] [int] NULL,
	[reviewer_id] [int] NULL,
	[status_id] [int] NULL,
	[branch_name] [nvarchar](100) NULL,
	[source_commit_hash] [nvarchar](40) NULL,
	[target_branch] [nvarchar](50) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[due_date] [date] NULL,
	[iteration_count] [int] NULL,
	[time_spent_minutes] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[review_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[programming_languages]    Script Date: 09.03.2026 12:23:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[programming_languages](
	[lang_id] [int] IDENTITY(1,1) NOT NULL,
	[lang_name] [nvarchar](50) NOT NULL,
	[version_pattern] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[lang_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[projects]    Script Date: 09.03.2026 12:23:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[projects](
	[project_id] [int] IDENTITY(1,1) NOT NULL,
	[project_name] [nvarchar](100) NOT NULL,
	[repo_url] [nvarchar](255) NULL,
	[lang_id] [int] NULL,
	[created_at] [datetime] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[project_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[review_comments]    Script Date: 09.03.2026 12:23:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[review_comments](
	[comment_id] [int] IDENTITY(1,1) NOT NULL,
	[review_id] [int] NULL,
	[author_id] [int] NULL,
	[content] [nvarchar](max) NOT NULL,
	[file_path] [nvarchar](255) NULL,
	[line_number] [int] NULL,
	[is_resolved] [bit] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[comment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[review_metrics]    Script Date: 09.03.2026 12:23:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[review_metrics](
	[metric_id] [int] IDENTITY(1,1) NOT NULL,
	[review_id] [int] NULL,
	[lines_added] [int] NULL,
	[lines_deleted] [int] NULL,
	[files_changed] [int] NULL,
	[test_coverage_before] [decimal](5, 2) NULL,
	[test_coverage_after] [decimal](5, 2) NULL,
	[complexity_score] [int] NULL,
	[ci_build_status] [nvarchar](20) NULL,
	[measured_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[metric_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[review_statuses]    Script Date: 09.03.2026 12:23:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[review_statuses](
	[status_id] [int] IDENTITY(1,1) NOT NULL,
	[status_code] [nvarchar](20) NOT NULL,
	[description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_roles]    Script Date: 09.03.2026 12:23:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_roles](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [nvarchar](50) NOT NULL,
	[description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 09.03.2026 12:23:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[full_name] [nvarchar](100) NULL,
	[role_id] [int] NULL,
	[joined_date] [date] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[code_reviews] ON 

INSERT [dbo].[code_reviews] ([review_id], [title], [description], [project_id], [author_id], [reviewer_id], [status_id], [branch_name], [source_commit_hash], [target_branch], [created_at], [updated_at], [due_date], [iteration_count], [time_spent_minutes]) VALUES (2, N'Fix: Null pointer exception in handler', N'Fixed NPE in user authentication handler', 2, 17, 9, 6, N'feature/fix-npe-15', N'b4e6c9f1d3a5b7e9f2d4c6a8b1e3f5d7c9a2b4e6', N'main', CAST(N'2026-03-09T11:49:26.860' AS DateTime), CAST(N'2026-03-09T11:49:26.860' AS DateTime), CAST(N'2026-03-14' AS Date), 2, 90)
INSERT [dbo].[code_reviews] ([review_id], [title], [description], [project_id], [author_id], [reviewer_id], [status_id], [branch_name], [source_commit_hash], [target_branch], [created_at], [updated_at], [due_date], [iteration_count], [time_spent_minutes]) VALUES (3, N'Feature: Add user profile page', N'New user profile page with avatar upload', 3, 18, 10, 4, N'feature/user-profile-23', N'c5f7d1e3a6b8c0f2e4d6a9b1c3e5f7d9a2b4c6e8', N'main', CAST(N'2026-03-09T11:49:26.860' AS DateTime), CAST(N'2026-03-09T11:49:26.860' AS DateTime), CAST(N'2026-03-19' AS Date), 3, 120)
GO
SET IDENTITY_INSERT [dbo].[code_reviews] OFF
GO
SET IDENTITY_INSERT [dbo].[programming_languages] ON 

INSERT [dbo].[programming_languages] ([lang_id], [lang_name], [version_pattern]) VALUES (1, N'Python', N'3.x')
INSERT [dbo].[programming_languages] ([lang_id], [lang_name], [version_pattern]) VALUES (2, N'JavaScript', N'ES6+')
INSERT [dbo].[programming_languages] ([lang_id], [lang_name], [version_pattern]) VALUES (3, N'Java', N'11+')
SET IDENTITY_INSERT [dbo].[programming_languages] OFF
GO
SET IDENTITY_INSERT [dbo].[projects] ON 

INSERT [dbo].[projects] ([project_id], [project_name], [repo_url], [lang_id], [created_at], [is_active]) VALUES (1, N'Core API Service', N'git@github.com:org/core-api.git', 1, CAST(N'2026-03-09T11:49:26.740' AS DateTime), 1)
INSERT [dbo].[projects] ([project_id], [project_name], [repo_url], [lang_id], [created_at], [is_active]) VALUES (2, N'Frontend Dashboard', N'git@github.com:org/web-dash.git', 2, CAST(N'2026-03-09T11:49:26.740' AS DateTime), 1)
INSERT [dbo].[projects] ([project_id], [project_name], [repo_url], [lang_id], [created_at], [is_active]) VALUES (3, N'Mobile App iOS', N'git@github.com:org/ios-app.git', 11, CAST(N'2026-03-09T11:49:26.740' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[projects] OFF
GO
SET IDENTITY_INSERT [dbo].[review_comments] ON 

INSERT [dbo].[review_comments] ([comment_id], [review_id], [author_id], [content], [file_path], [line_number], [is_resolved], [created_at]) VALUES (1, 1, 8, N'LGTM! Good fix for the memory leak.', N'/src/core/memory_manager.py', 145, 1, CAST(N'2026-03-09T11:49:26.900' AS DateTime))
INSERT [dbo].[review_comments] ([comment_id], [review_id], [author_id], [content], [file_path], [line_number], [is_resolved], [created_at]) VALUES (2, 1, 9, N'Consider adding unit tests for this.', N'/src/core/memory_manager.py', 150, 1, CAST(N'2026-03-09T11:49:26.900' AS DateTime))
INSERT [dbo].[review_comments] ([comment_id], [review_id], [author_id], [content], [file_path], [line_number], [is_resolved], [created_at]) VALUES (3, 2, 10, N'Please add error handling here.', N'/src/auth/handler.js', 78, 1, CAST(N'2026-03-09T11:49:26.900' AS DateTime))
SET IDENTITY_INSERT [dbo].[review_comments] OFF
GO
SET IDENTITY_INSERT [dbo].[review_metrics] ON 

INSERT [dbo].[review_metrics] ([metric_id], [review_id], [lines_added], [lines_deleted], [files_changed], [test_coverage_before], [test_coverage_after], [complexity_score], [ci_build_status], [measured_at]) VALUES (1, 1, 45, 12, 3, CAST(78.50 AS Decimal(5, 2)), CAST(79.20 AS Decimal(5, 2)), 12, N'SUCCESS', CAST(N'2026-03-09T11:49:26.957' AS DateTime))
INSERT [dbo].[review_metrics] ([metric_id], [review_id], [lines_added], [lines_deleted], [files_changed], [test_coverage_before], [test_coverage_after], [complexity_score], [ci_build_status], [measured_at]) VALUES (2, 2, 23, 8, 2, CAST(82.10 AS Decimal(5, 2)), CAST(82.50 AS Decimal(5, 2)), 8, N'SUCCESS', CAST(N'2026-03-09T11:49:26.957' AS DateTime))
INSERT [dbo].[review_metrics] ([metric_id], [review_id], [lines_added], [lines_deleted], [files_changed], [test_coverage_before], [test_coverage_after], [complexity_score], [ci_build_status], [measured_at]) VALUES (3, 3, 156, 34, 8, CAST(75.30 AS Decimal(5, 2)), CAST(76.80 AS Decimal(5, 2)), 18, N'SUCCESS', CAST(N'2026-03-09T11:49:26.957' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[review_metrics] OFF
GO
SET IDENTITY_INSERT [dbo].[review_statuses] ON 

INSERT [dbo].[review_statuses] ([status_id], [status_code], [description]) VALUES (1, N'DRAFT', N'Work in progress, not ready for review')
INSERT [dbo].[review_statuses] ([status_id], [status_code], [description]) VALUES (2, N'OPEN', N'Ready for review')
INSERT [dbo].[review_statuses] ([status_id], [status_code], [description]) VALUES (3, N'IN_PROGRESS', N'Reviewer is currently analyzing')
SET IDENTITY_INSERT [dbo].[review_statuses] OFF
GO
SET IDENTITY_INSERT [dbo].[user_roles] ON 

INSERT [dbo].[user_roles] ([role_id], [role_name], [description]) VALUES (1, N'Administrator', N'Full system access')
INSERT [dbo].[user_roles] ([role_id], [role_name], [description]) VALUES (2, N'Manager', N'Can assign reviews and view analytics')
INSERT [dbo].[user_roles] ([role_id], [role_name], [description]) VALUES (3, N'Senior Developer', N'Can approve merges and mentor')
SET IDENTITY_INSERT [dbo].[user_roles] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([user_id], [username], [email], [full_name], [role_id], [joined_date], [is_active]) VALUES (1, N'admin_ivanov', N'admin.ivanov@company.com', N'Иванов Иван Петрович', 1, CAST(N'2026-03-09' AS Date), 1)
INSERT [dbo].[users] ([user_id], [username], [email], [full_name], [role_id], [joined_date], [is_active]) VALUES (2, N'admin_petrov', N'admin.petrov@company.com', N'Петров Сергей Владимирович', 1, CAST(N'2026-03-09' AS Date), 1)
INSERT [dbo].[users] ([user_id], [username], [email], [full_name], [role_id], [joined_date], [is_active]) VALUES (3, N'manager_sidorov', N'manager.sidorov@company.com', N'Сидоров Алексей Михайлович', 2, CAST(N'2026-03-09' AS Date), 1)
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__programm__045D16C934D1B525]    Script Date: 09.03.2026 12:23:31 ******/
ALTER TABLE [dbo].[programming_languages] ADD UNIQUE NONCLUSTERED 
(
	[lang_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__review_s__4157B0212D83B535]    Script Date: 09.03.2026 12:23:31 ******/
ALTER TABLE [dbo].[review_statuses] ADD UNIQUE NONCLUSTERED 
(
	[status_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__user_rol__783254B1AC0E8456]    Script Date: 09.03.2026 12:23:31 ******/
ALTER TABLE [dbo].[user_roles] ADD UNIQUE NONCLUSTERED 
(
	[role_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__AB6E616488EA62A9]    Script Date: 09.03.2026 12:23:31 ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__F3DBC57281715210]    Script Date: 09.03.2026 12:23:31 ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[code_reviews] ADD  DEFAULT ('main') FOR [target_branch]
GO
ALTER TABLE [dbo].[code_reviews] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[code_reviews] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[code_reviews] ADD  DEFAULT ((1)) FOR [iteration_count]
GO
ALTER TABLE [dbo].[code_reviews] ADD  DEFAULT ((0)) FOR [time_spent_minutes]
GO
ALTER TABLE [dbo].[projects] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[projects] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[review_comments] ADD  DEFAULT ((0)) FOR [is_resolved]
GO
ALTER TABLE [dbo].[review_comments] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[review_metrics] ADD  DEFAULT ((0)) FOR [lines_added]
GO
ALTER TABLE [dbo].[review_metrics] ADD  DEFAULT ((0)) FOR [lines_deleted]
GO
ALTER TABLE [dbo].[review_metrics] ADD  DEFAULT ((0)) FOR [files_changed]
GO
ALTER TABLE [dbo].[review_metrics] ADD  DEFAULT (getdate()) FOR [measured_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [joined_date]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[code_reviews]  WITH CHECK ADD FOREIGN KEY([author_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[code_reviews]  WITH CHECK ADD FOREIGN KEY([project_id])
REFERENCES [dbo].[projects] ([project_id])
GO
ALTER TABLE [dbo].[code_reviews]  WITH CHECK ADD FOREIGN KEY([reviewer_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[code_reviews]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[review_statuses] ([status_id])
GO
ALTER TABLE [dbo].[projects]  WITH CHECK ADD FOREIGN KEY([lang_id])
REFERENCES [dbo].[programming_languages] ([lang_id])
GO
ALTER TABLE [dbo].[review_comments]  WITH CHECK ADD FOREIGN KEY([author_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[review_comments]  WITH CHECK ADD FOREIGN KEY([review_id])
REFERENCES [dbo].[code_reviews] ([review_id])
GO
ALTER TABLE [dbo].[review_metrics]  WITH CHECK ADD FOREIGN KEY([review_id])
REFERENCES [dbo].[code_reviews] ([review_id])
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[user_roles] ([role_id])
GO
ALTER TABLE [dbo].[code_reviews]  WITH CHECK ADD  CONSTRAINT [chk_iteration] CHECK  (([iteration_count]>=(1)))
GO
ALTER TABLE [dbo].[code_reviews] CHECK CONSTRAINT [chk_iteration]
GO
ALTER TABLE [dbo].[code_reviews]  WITH CHECK ADD  CONSTRAINT [chk_time_spent] CHECK  (([time_spent_minutes]>=(0)))
GO
ALTER TABLE [dbo].[code_reviews] CHECK CONSTRAINT [chk_time_spent]
GO
USE [master]
GO
